In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [34]:
# Import file
file = 'Data/Breast_cancer_bySex_Race_mortalityData.txt'
df = pd.read_csv(file, encoding="ISO-8859-1", sep='\t')
display(df)

,Notes,Leading Cancer Sites,Leading Cancer Sites Code,State,State Code,Year,Year Code,Race,Race Code,Sex,Sex Code,Deaths,Population,Age-Adjusted Rate
0,NaN,Breast,26000.0,Alabama,1.0,2000.0,2000.0,Black or African American,2054-5,Female,F,166.0,627439.0,29.7
1,NaN,Breast,26000.0,Alabama,1.0,2000.0,2000.0,White,2106-3,Female,F,524.0,1643761.0,25.9
2,NaN,Breast,26000.0,Alabama,1.0,2001.0,2001.0,Black or African American,2054-5,Female,F,219.0,630901.0,38.7
3,NaN,Breast,26000.0,Alabama,1.0,2001.0,2001.0,White,2106-3,Female,F,528.0,1645541.0,25.8
4,NaN,Breast,26000.0,Alabama,1.0,2002.0,2002.0,Black or African American,2054-5,Female,F,167.0,633374.0,29.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,data set. Death rates may differ slightly from...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017,"4. For the 2005 year, the Census Bureau estima...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018,Texas due to Hurricanes Katrina and Rita. CDC ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019,"these states, nor are these counts included in...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020,"population. However, the USCS web site does in...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
# Identify incomplete rows
df.count()

Notes                          54
Leading Cancer Sites         1967
Leading Cancer Sites Code    1967
State                        1967
State Code                   1967
Year                         1967
Year Code                    1967
Race                         1967
Race Code                    1967
Sex                          1967
Sex Code                     1967
Deaths                       1967
Population                   1967
Age-Adjusted Rate            1967
dtype: int64

In [36]:
# Drop all columns without any information
df_dropped = df.drop(columns=['Notes','Leading Cancer Sites Code','Year Code','Sex'],axis=1)
df_dropped = df_dropped.dropna(how='any')
display(df_dropped)

,Leading Cancer Sites,State,State Code,Year,Race,Race Code,Sex Code,Deaths,Population,Age-Adjusted Rate
0,Breast,Alabama,1.0,2000.0,Black or African American,2054-5,F,166.0,627439.0,29.7
1,Breast,Alabama,1.0,2000.0,White,2106-3,F,524.0,1643761.0,25.9
2,Breast,Alabama,1.0,2001.0,Black or African American,2054-5,F,219.0,630901.0,38.7
3,Breast,Alabama,1.0,2001.0,White,2106-3,F,528.0,1645541.0,25.8
4,Breast,Alabama,1.0,2002.0,Black or African American,2054-5,F,167.0,633374.0,29.2
...,...,...,...,...,...,...,...,...,...,...
1962,Breast,Wyoming,56.0,2014.0,White,2106-3,F,50.0,268767.0,14.1
1963,Breast,Wyoming,56.0,2015.0,White,2106-3,F,68.0,270054.0,19.7
1964,Breast,Wyoming,56.0,2016.0,White,2106-3,F,68.0,269349.0,20.0
1965,Breast,Wyoming,56.0,2017.0,White,2106-3,F,56.0,266963.0,16.5
1966,Breast,Wyoming,56.0,2018.0,White,2106-3,F,70.0,266262.0,20.6

In [37]:
df_dropped.count()

Leading Cancer Sites    1967
State                   1967
State Code              1967
Year                    1967
Race                    1967
Race Code               1967
Sex Code                1967
Deaths                  1967
Population              1967
Age-Adjusted Rate       1967
dtype: int64

In [41]:
# Import file
file = 'Data/Breast_cancer_incidence_byRace_Sex.txt'
df2 = pd.read_csv(file, encoding="ISO-8859-1", sep='\t')
display(df2)

,Notes,Leading Cancer Sites,Leading Cancer Sites Code,States,States Code,Year,Year Code,Race,Race Code,Sex,Sex Code,Count
0,NaN,Breast,26000.0,Alabama,1.0,1999.0,1999.0,Asian or Pacific Islander,A-PI,Female,F,18.0
1,NaN,Breast,26000.0,Alabama,1.0,1999.0,1999.0,Black or African American,2054-5,Female,F,597.0
2,NaN,Breast,26000.0,Alabama,1.0,1999.0,1999.0,White,2106-3,Female,F,2360.0
3,NaN,Breast,26000.0,Alabama,1.0,1999.0,1999.0,White,2106-3,Male,M,19.0
4,NaN,Breast,26000.0,Alabama,1.0,1999.0,1999.0,Other Races and Unknown combined,2131-1,Female,F,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3946,standard groupings of primary cancer sites.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3947,"7. For the 2005 year, the Census Bureau estima...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3948,Texas due to Hurricanes Katrina and Rita. CDC ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3949,"these states, nor are these counts included in...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3950,"population. However, the USCS web site does in...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
# Identify incomplete rows
df2.count()

Notes                          56
Leading Cancer Sites         3895
Leading Cancer Sites Code    3895
States                       3895
States Code                  3895
Year                         3895
Year Code                    3895
Race                         3895
Race Code                    3895
Sex                          3895
Sex Code                     3895
Count                        3895
dtype: int64

In [43]:
# Drop all columns without any information
df_dropped2 = df2.drop(columns=['Notes','Leading Cancer Sites Code','Year Code','Sex'],axis=1)
df_dropped2 = df_dropped2.dropna(how='any')
display(df_dropped2)

,Leading Cancer Sites,States,States Code,Year,Race,Race Code,Sex Code,Count
0,Breast,Alabama,1.0,1999.0,Asian or Pacific Islander,A-PI,F,18.0
1,Breast,Alabama,1.0,1999.0,Black or African American,2054-5,F,597.0
2,Breast,Alabama,1.0,1999.0,White,2106-3,F,2360.0
3,Breast,Alabama,1.0,1999.0,White,2106-3,M,19.0
4,Breast,Alabama,1.0,1999.0,Other Races and Unknown combined,2131-1,F,27.0
...,...,...,...,...,...,...,...,...
3890,Breast,Wyoming,56.0,2014.0,White,2106-3,F,400.0
3891,Breast,Wyoming,56.0,2015.0,White,2106-3,F,327.0
3892,Breast,Wyoming,56.0,2016.0,White,2106-3,F,397.0
3893,Breast,Wyoming,56.0,2017.0,White,2106-3,F,356.0
3894,Breast,Wyoming,56.0,2018.0,White,2106-3,F,394.0